name: dockerhub-mirror

on: workflow_dispatch

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Log into registry
        run: echo "${{ secrets.CR_PAT }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Push Redis
        run: |
          IMAGE_ID=ghcr.io/${{ github.repository }}/bitnami/redis
          VERSION=6.0.8-debian-10-r6
          PULL_IMAGE=bitnami/redis:$VERSION

          docker pull "$PULL_IMAGE"

          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION

          docker tag "$PULL_IMAGE" "${IMAGE_ID}:${VERSION}"
          docker push "${IMAGE_ID}:${VERSION}"

      - name: Push Mongo
        run: |
          IMAGE_ID=ghcr.io/${{ github.repository }}/bitnami/mongodb
          VERSION=4.4.1-debian-10-r8
          PULL_IMAGE=bitnami/mongdob:$VERSION

          docker pull "$PULL_IMAGE"

          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION

          docker tag "$PULL_IMAGE" "${IMAGE_ID}:${VERSION}"
          docker push "${IMAGE_ID}:${VERSION}"
